#board {
  background: grey;

  display: flex;
  flex-direction: row;
  gap: 2px;
}

.line {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.led {
  background-color: blue;
  border: 1px solid black;
  width: 40px;
  height: 40px;
}
