#board {
  /*background: grey;*/

  display: flex;
  flex-direction: row;
  gap: 2px;
}
body {
  background-color: beige;
}
.line {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.led {
  background-color: blue;
  /*border: 1px solid black;*/
  width: 20px;
  height: 20px;
  border-radius: 2px;
}
.hidden{

  display: none;

}